[submodule "FSAD-Skill-1"]
	path = FSAD-Skill-1
	url = https://github.com/rajucreate/FSAD-Skill-1
[submodule "skill-2"]
	path = skill-2
	url = https://github.com/rajucreate/skill-2
[submodule "skill3"]
	path = skill3
	url = https://github.com/rajucreate/skill3
[submodule "skill-4"]
	path = skill-4
	url = https://github.com/rajucreate/skill-4
